/* About Me styles.css */

.education {
    margin-top: 2em;
}

.info-header {
    text-align: center;
}

.job-one, .edu {
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
}

.job-one, .edu {
    background-color: #E5E7EB;
}

.icon {
    border: 4px solid #E5E7EB;
    border-radius: 10%;
    height: 10em;
    width: 10em;
}

.job-title, .edu-title {
    font-size: 1.5rem;
}


/* Body three */
.body-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
}

.skill {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
}

.languages {
    font-weight: bold;
    font-size: larger;
    
}

.name, .languages {
    color:rgb(74, 74, 74)
}