/* Homepage styles.css */

/* Body One */
.body-one {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imginsert {
    width: 20rem;
    height: 20em;
    margin: 1em 0;
    border-radius: 50%;
    border: 2px solid #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    width: 30em;
}

.hero-main {
    width: 10em;
    text-align: left;
}

.hero-second {
    width: 20em;
    text-align: left;
}

@media screen and (max-width: 895px) {
    .hero {
      align-items: center;
    }
    .hero-main, .hero-second {
        width: auto;
        text-align: center;
    }
}


/* Body Two */
.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-header {
    max-width: 20em;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.text {
    width: 12em;
    text-align: center;
}

.ill {
    border: 4px solid #3882F6;
    border-radius: 10%;
    height: 12em;
    width: 12em;
}

/* Body Three */
.body-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text, .author {
    max-width: 18em;
}

.quote-text {
    margin: 1em;
}

.author {
    font-weight: bold;
    max-width: 12em;
}

/* Body Four */
.body-four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    padding: 2em;
    gap: 1em;
}