/* Homepage styles.css */

/* Body Two */
.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-header {
    max-width: 20em;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.text {
    width: 12em;
    text-align: center;
}

.ill {
    border: 4px solid #3882F6;
    border-radius: 10%;
    height: 12em;
    width: 12em;
}

/* Body Three */
.body-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text, .author {
    max-width: 18em;
}

.quote-text {
    margin: 1em;
}

.author {
    font-weight: bold;
    max-width: 12em;
}

