/* Homepage styles.css */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    padding: 20px 100px;
    flex-wrap: wrap;
}

.logo {
    height: fit-content;
    flex-shrink: 0;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
    margin: 0;
    justify-content: center;
    padding-left: 0;
    flex-wrap: wrap;
}

.body-one, .body-two, .body-three, .body-four {
    padding: 3em;
    flex: 1;
}

/* Body One */
.body-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imginsert {
    width: 20rem;
    height: 14em;
    margin: 1em 0;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.hero-main {
    width: 10em;
    text-align: left;
}

.hero-second {
    width: 20em;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .hero {
      align-items: center;
    }
    .hero-main, .hero-second {
        width: auto;
        text-align: center;
    }
}


/* Body Two */
.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-header {
    max-width: 20em;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.text {
    width: 12em;
}

.ill {
    border: 4px solid #3882F6;
    border-radius: 10%;
    max-height: 12em;
    max-width: 12em;
}

/* Body Three */
.body-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text, .author {
    max-width: 18em;
}

.quote-text {
    margin: 1em;
}

.author {
    font-weight: bold;
    max-width: 12em;
}

/* Body Four */
.body-four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 10px;
    display: flex;
    width: 40em;
    height: 8em;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
}


/* Color and Font Styles */
.header, .body-one, footer {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-second {
    font-size: 18px;
}

.hero-second, li, footer {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
}

.hero-main, .logo {
    color: #F9FAF8;
}

button, .box {
    background-color: #3882F6;
    color: white;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}

button {
    border-color: white;
    padding: 8px 15px;
    border-radius: 8px;
}

.body-three {
    background-color: #E5E7EB;
}

.info-header, .quote-text {
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}