/* Homepage styles.css */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

/* Header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    margin: 30px;
}

.body-one, .body-two, .body-three, .body-four {
    height: 400px;
}

/* Body One */
.body-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero, .imginsert {
    width: 500px;
    height: 250px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Body Two */
.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ill {
    border: black;
    border-radius: 10%;
    height: 200px;
    width: 200px;
}

/* Body Three */
.body-three {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.quote-text {
    align-self: center;
}

.author {
    align-self: flex-end;
}

/* Body Four */
.body-four {

}

.box {
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    padding: 50px 150px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Color and Font Styles */
.header, .body-one, footer {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-second {
    font-size: 18px;
}

.hero-second, li, footer {
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
}

.hero-main, .logo {
    color: #F9FAF8;
}

button, .box {
    background-color: #3882F6;
    color: white;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
}

button {
    border-style: 1px solid white;
}

.body-three {
    background-color: #E5E7EB;
}

.info-header, .quote-text {
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}